.welcomeSection {
    color: #fff;
   overflow: hidden;
    height: 100vh;
}
.welcomeSection::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("https://grainy-gradients.vercel.app/noise.svg");
    opacity: 0.1;
}


.nameTitle {
    font-size: 3vw;
    font-weight: 100;
    padding: 2% 5%;
}



.ramaTitle {
   font-size: 9vw;
    font-weight: 900;
    position: relative;
    height: 24vw;
    margin: 0% 10%;
    margin-top: 7%;

    
}


.secondLineDev {
    position: absolute;
    bottom: 50px;
    left: 7%;
    top: 40%;
}


.graphicTitle {
    position: absolute;
    top: 0;
    left: 0;
    color: #5f0000c0;
}


.secondLineGraph {
    position: absolute;
    left: 7%;
    top: 40%;
    color: #5f0000c0;
    display: block;

}

.letterDev,
.secondLetterDev,
.letterGraph,
.secondLetterGraph {
    display: inline-block;
}




/* --- MEDIA QUERIES PARA IMPACTO MÓVIL --- */

@media (max-width: 768px) {
    .ramaTitle {
        font-size: 18vw; 
        margin-top: 10vh;
        height: 70vh;
    }

    .secondLineDev,
    .secondLineGraph {
        left: 5%;
        top: 45%;
    }
}

@media (max-width: 480px) {
    .nameTitle {
        padding: 20px 5%;
        font-size: 0.9rem;
    }

    .ramaTitle {
        
        font-size: 22vw; 
        width: 100%;
        margin: 0;
    }

    .secondLineDev,
    .secondLineGraph {
        top: 40%;
        left: 8%;
    }
}


@media (max-height: 500px) {
    .ramaTitle {
        height: 80vh;
        font-size: 12vh;
    }
    .secondLineDev, .secondLineGraph {
        top: 50%;
    }
}

